/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --content-text-color: #353430;
    --title-color: #FFC2E6;
    --color-menu: #353430;
    --color-menu-opacity: rgba(53, 52, 48, 0.4); 
    --color-text-header: #353430;
    --background-image: url(../images/cover-image-light.png);
    --visible-decorative-element: 0;
  }
}

.page.theme_light {
  --accent-color: #FF8DCB;
  --content-text-color: #353430;
  --title-color: #FFC2E6;
  --color-menu: #353430;
  --color-menu-opacity: rgba(53, 52, 48, 0.4); 
  --color-text-header: #353430;
  --background-image: url(../images/cover-image-light.png);
  --visible-decorative-element: 0;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя */
}