/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: 'IBM Plex mono', Courier, monospace;
  background: var(--background-image) no-repeat center / cover;
  background-color: var(--main-color);
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.container {
  padding: 0 clamp(0.625rem, 0.016rem + 2.6vw, 1.25rem);
}

.header {
  padding: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem) 0;
  min-block-size: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 1.563rem;
  block-size: 1.563rem;
}

.decorated-zone::before {
  top: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
  right: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
  border-top: 1px solid var(--color-menu);
  border-right: 1px solid var(--color-menu);
}

.decorated-zone::after {
  bottom: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
  left: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
  border-bottom: 1px solid var(--color-menu);
  border-left: 1px solid var(--color-menu);
}

.decorative-element {
  display: block;
  margin-inline-start: auto;
  margin-inline-end: 1.75rem;
  opacity: var(--visible-decorative-element);
  color: var(--accent-color);
  font-size: 18px;
  line-height: 1.39;
  text-transform: uppercase;
  max-inline-size: 2.063rem;
}

.decorative-element::after {
  content: "";
  position: absolute;
  top: clamp(1.125rem, 0.529rem + 2.54vw, 1.75rem);
  right: clamp(1.188rem, 0.591rem + 2.54vw, 1.813rem);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--color-shadow);
  background-color: var(--accent-color);
  inline-size: 0.563rem;
  block-size: 0.563rem;

}

.title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--color-shadow);
}

.subtitle {
  color: var(--color-text-header);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--accent-color);
}

.header__text {  
  margin-inline-start: auto;  
  margin-inline-end: 0;
  margin-block-start: clamp(3.438rem, -2.944rem + 27.23vw, 10rem);
  max-inline-size: 22.75rem;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: end;
  gap: 1rem;
  margin-block-start: clamp(2.563rem, -3.789rem + 27.1vw, 9.219rem);
  margin-block-end: clamp(4.375rem, -2.185rem + 27.99vw, 11.25rem);
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  color: var(--color-menu);
  font-size: 18px;
  line-height: 1;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button:default {
  outline: 1px solid var(--color-menu);
}


@media (hover: hover) {
  .header__theme-menu-button:hover {
    outline: 1px solid var(--color-menu-opacity);
    cursor: pointer;
  }
}

@media (hover: none) {
  .header__theme-menu-button:active {
    outline: 1px solid var(--color-menu-opacity);
  }
}

.header__theme-menu-button_active {
  outline: 1px solid var(--color-menu);
  outline-offset: 1px;
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--color-menu);
}



@media (width >= 768px) {
  .title {
    margin-inline-start: -1.25rem;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }
  .header__text {
    max-inline-size: clamp(22.75rem, -1.063rem + 49.61vw, 30.688rem);
  }
}

@media (width >= 1000px) {
  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    gap: 0.625rem;
    margin: 0;
    margin-block-start: -1.5rem;
    margin-block-end: 17.375rem;
  }
  .header__text {
    margin-block-start: 7.063rem;
    margin-block-end: 1.188rem;
  }
}

.main {
  padding-block-start: clamp(2.5rem, 1.307rem + 5.09vw, 3.75rem);
}

.content {
  display: grid;
  gap: 1.25rem;
  padding-block-end: clamp(2.5rem, 0.711rem + 7.63vw, 4.375rem);
  font-size: 18px;
  line-height: 1.3;
}

.content-title {
  color: var(--color-menu);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;

}

.content-box {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.article-title {
  font-size: 18px;
  line-height: 1.3;
}

.article-title_bg-accent-color {
  color: var(--color-text-header);
  background-color: var(--accent-color);
}

.article-text {
  padding-block-end: 10px;
  color: var(--content-text-color);
}

.article-list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.article-list-item {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.article-title_margin-block-end {
  margin-block-end: 0.625rem;
}


.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--content-text-color);
}

@media (hover: hover) {
  .link:hover {
    border-block-end: 1px solid var(--color-menu);
    cursor: pointer;
  }
}

@media (hover: none) {
  .link:active {
    border-block-end: 1px solid var(--color-menu);
  }
}

.content-flex {
  display: flex;
  flex-direction: column;
}

.content-title_margin-bottom {
  margin-block-end: 0.625rem;
}

.content-title_font-weight {
  font-weight: 400;
}

@media (width >= 768px) {
  .content {
    grid-template-columns: minmax(14.75rem, 1fr) minmax(29.5rem, 40.563rem);
  }
  .content-title_flex {
    inline-size: clamp(14.75rem, -0.063rem + 30.86vw, 19.688rem);
  }
}

@media (width >= 1024px) {
  .content-box_flex {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
  }
  .article_vertical {
    min-inline-size: 19.688rem;
  }
}

.main-pictures {
  display: grid;
  gap: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
  padding-block-end: clamp(2.5rem, 1.307rem + 5.09vw, 3.75rem);
}

.pictures {
  display: grid;
  gap: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
}

.img {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

@media (width >= 768px) {
  .pictures {
    grid-template-columns: clamp(14.313rem, -1.813rem + 33.59vw, 19.688rem) clamp(14.375rem, -1.563rem + 33.2vw, 19.688rem) 1fr;
    grid-template-rows: clamp(12rem, -0.75rem + 26.56vw, 16.25rem) clamp(14.375rem, -1.563rem + 33.2vw, 19.688rem) 1fr;
  }

  .pictures__sunset {
    grid-column: 1 / 3;
  }

  .pictures__ice-cream {
    grid-column: 3 / end;
    grid-row: 1 / 3;
  }

  .pictures__books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .pictures__cassette {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .pictures__street {
    grid-column: 2 / end;
  }  
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
}

.footer-title {
  text-shadow: 2px 2px 0 var(--color-shadow);
  margin-inline-start: 0;
}

